body {
    width: 1024px;
    margin: auto;
    background-image: url(https://i.ibb.co/DCLdNw9/luxfon-com-6370.jpg);
    background-size: cover;
    color: white;
    font-family: Verdana, Tahoma, sans-serif;

}

img {
    height: 300px;
    width: 300px;
}

.pictures {
    margin: 0% 5% 0%;  
}

.tbg {
    background-color: rgba(254, 254, 254, 0.3);
}

h1 {
    text-align: center;
    font-size: 50px;
    color: white;
    padding: 8px;
}

h2 {
    font-size: 30px;
    padding: 10px;
    padding-left: 5%;
    background-color: rgba(254, 248, 77, 0.3);
}

p {
    font-size: 20px;
    padding-left: 5%;
}

.code-align {
    padding: 15px;
    padding-left: 5%;
}

li {
    font-size: 20px;
    list-style-type: circle;
}

.main-bg {
    background-color: rgba(254, 254, 254, 0.1);
    padding-bottom: 1%;
}

h3 {
    padding-left: 5%;
}

.list-elements {
    padding-left: 8%;
}

.my-photo {
    padding-left: 362px;
}

q {
    position: static;
    background-color: rgba(254, 254, 254, 0.1);
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-left: white 1px solid;
    margin: 5%;
    padding: 15px;
    bottom: 20px;
    font-family: "comic sans ms";
    font-size: 18px;
}